.button {
  height: 5rem;
  width: 8rem;
  color: $white;
  background-color: $red;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
