.hero {
  background: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__text {
    @include breakpoint-up(large) {
      background-image: none;
      flex: 2;
      order: 1;
      h1,
      h2,
      p {
        color: black;
      }
    }
    color: $white;
    background-image: url("/images/octopus1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 70vh;
    text-align: center;
    flex-direction: column;

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-family: "East Sea Dokdo", cursive;
      font-size: 5rem;
    }

    p {
      margin-top: 3rem;
      width: 75%;
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
    }

    a {
      margin-top: 3rem;
      width: 80%;
      transition: all 1s ease-in-out;

      &:hover {
        background-color: darken($red, 15%);
      }
    }
  }

  &__image {
    @include breakpoint-up(large) {
      background-image: url("/images/store.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      flex: 3;
      order: 2;
    }
  }
}
