.menu {
  margin-bottom: 1rem;

  h1 {
    text-align: center;
  }
  margin-top: 3rem;
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    display: grid;
    position: relative;

    img {
      height: 30rem;
      width: 100%;
      object-fit: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--title {
    display: flex;
    justify-self: center;
    justify-content: center;
    position: absolute;
    padding: 2rem;
    background-color: #101d2c;
    align-items: end;
    z-index: 3;
    width: 80%;
    font-size: 2rem;
    align-self: end;
    transform: translateY(50%);
    color: $white;
    font-family: "East Sea Dokdo", cursive;
    letter-spacing: 3px;
  }

  &__desc {
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 2rem;
    background: $white;
  }
}
